# Zig
zig-out/
.zig-cache/

# Release artifacts
artifacts/
release/
dist/

# Ruby
*.gem
*.bundle
Gemfile.lock

# C extensions
*.o
*.so
*.dylib

# Node.js
node_modules/
build/
*.node

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
*.egg
.pytest_cache/
venv/
.venv/

# Elixir
_build/
deps/
*.ez
erl_crash.dump

# IDE
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db
